{% extends "base.html" %}

{% block head %}<title>Hello Yose</title>{% endblock %}

{% block content %}
<h1 id="astroport-name">Astroport</h1>
<div id="gate-1">
	<p id="ship-1">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
	</p>
</div>
<div id="gate-2">
	<p id="ship-2">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
	</p>
</div>
<div id="gate-3">
	<p id="ship-3">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
	</p>
</div>

Ship<input type="text" name="ship" id="ship">
<button id="dock">dock</button>
{% endblock %}